@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.62;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17.5px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 21px;
  }
}
