@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/preview.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 32px;
  }
}
